body {
    color: #000000;
    font-size: 17px;
    line-height: 120%;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #f7f9fc;
}

.banner {
    background-image: url(https://source.unsplash.com/random/1000x500);
    background-size: cover;
    color: white;
    padding: 120px 0;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
   }

.banner h1 {
    font-size: 40px;
    line-height: 100%;
}

.banner p {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0.9;
}

.container {
    width: 700px;
    margin: 50px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px laptop, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px tablet, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px mobile, this CSS will be read */
  .container {
    width: 300px;
  }
}

h2 {
    color: #A0A0A0;
    font-weight: normal;
}

.link-medium {
    background-color: #F8F3EB;
    color: #636363;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

p {
  color: #5F6733;
}
